<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class='container'>
        <div class='registration'>
            <h1>Registration</h1>
            <form action='/user/register' method='POST'>
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        {% if 'first_name' in message.tags %}
                        <p>{{ message }}</p>
                        {% endif %}
                        {% if 'last_name' in message.tags %}
                        <p>{{ message }}</p>
                        {% endif %}
                        {% if 'email' in message.tags %}
                        <p>{{ message }}</p>
                        {% endif %}
                        {% if 'password' in message.tags %}
                        <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class='section'>
                    <label class='label' for='first_name'>First Name</label>
                    <input type='text' class='text' name='first_name'>
                </div>
                <div class='section'>
                    <label class='label' for='last_name'>Last Name</label>
                    <input type='text' class='text' name='last_name'>
                </div>
                <div class='section'>
                    <label class='label' for='email'>Email</label>
                    <input type='text' class='text' name='email'>
                </div>
                <div class='section'>
                    <label class='label' for='password'>Password</label>
                    <input type='password' class='text' name='password'>
                </div>
                <div class='section'>
                    <label class='label' for='confirm_pw'>Confirm PW</label>
                    <input type='password' class='text' name='confirm_pw'>
                </div>
                <button type='submit' class='button'>Register</button>
            </form>
        </div>

        <div class='login'>
            <h1>Login</h1>
            <form action='/user/login' method='POST'>
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        {% if 'email' not in message.tags %}
                        <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class='section'>
                    <label class='label' for='email'>Email</label>
                    <input type='text' class='text' name='email'>
                </div>
                <div class='section'>
                    <label class='label' for='password'>Password</label>
                    <input type='password' class='text' name='password'>
                </div>
                <button class='button'>Login</button>
            </form>
        </div>
    </div>
</body>
</html>